body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #fce4ec, #ffffff);
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

h2 {
  color: #e91e63;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 15px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #f8bbd0;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ec407a;
}

.error {
  color: red;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-top: -5px;
  margin-bottom: 10px;
}

.signInError {
  color: #d32f2f;
  margin-top: 15px;
  font-weight: bold;
}
