<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

<div class="top-bar">
  <div class="left-section">
<div class="menu-wrapper" style="position: relative; display: inline-block;">
  <div class="menu" (click)="toggleLangMenu()" style="cursor: pointer;">&#8942;</div>
  
  <ul class="lang-menu" *ngIf="showLangMenu">
  <li (click)="goToLang('fr-FR')">Français 🇫🇷</li>
  <li (click)="goToLang('en-US')">English 🇺🇸</li>
</ul>

</div>
<div class="nav-logo">PARFUMS LUXE</div>
  </div>
  <div class="search-container">
    <input 
      type="text" 
      placeholder="🔍 Rechercher un parfum..." 
      class="search-input" 
      [(ngModel)]="searchTerm" 
      (input)="filterProducts()" 
    />
  </div>
  <div class="right-section">
    <button title="Mon compte">👤</button>
    <button title="Favoris" [routerLink]="['/favoris']">❤</button>
    <button title="Panier"  [routerLink]="['/cart']">🛒</button>
  </div>
</div>

<h2 class="slogan" i18n>La beauté invisible : votre parfum</h2>
<div class="filters">
<button (click)="applyFilter('promo')"
        [class.active]="activeFilter === 'promo'"
        class="button" >
  🔥 Promo
</button>
  <button (click)="applyFilter('homme')" [class.active]="activeFilter === 'homme'" class="button" i18n>Homme</button>
  <button (click)="applyFilter('femme')" [class.active]="activeFilter === 'femme'" class="button" i18n>Femme</button>
  <button (click)="applyFilter('enfants')" [class.active]="activeFilter === 'enfants'" class="button" i18n>Enfants</button>
  <button (click)="applyFilter('all')" [class.active]="activeFilter === 'all'" class="button" i18n>Tous</button>
</div>

<div class="catalog">
  <div class="product-list">
<ng-container *ngFor="let product of filteredProducts; trackBy: trackByProductId">
    <div class="product-container"
         *ngIf="(productStocksMap[product.id] || product.quantity) > 0"
         [title]="(productStocksMap[product.id] || product.quantity) <= 0 ? 'Ce produit est en rupture de stock' : ''">
     
       <div class="product-card">
        <div class="image-wrapper">
          <img
            [src]="hoveredProductId === product.id ? product.hoverImageUrl || product.imageUrl : product.imageUrl"
            [alt]="product.name"
            class="product-image"
            (mouseenter)="hoveredProductId = product.id"
            (mouseleave)="hoveredProductId = null"
            (error)="handleImageError($event)"
          />
 <div *ngIf="product.isOnSale()" class="offer-badge">
          -{{product.discountPercentage}}%
        </div>
        <div *ngIf="countdowns[product.id]" class="offer-timer">
    ⏳ Reste {{ countdowns[product.id] }}
  </div>
              </div>

        <div class="product-info">
          <div class="rating-mini">
  <span *ngFor="let s of stars; let i = index"
        [class.filled]="i < getRating(product.id)">
    &#9733;     <!-- entité Unicode de l’étoile -->
  </span>
</div>

          <h3>{{ product.name }}</h3>
          
         

         <div class="price">
          <span class="new-price">{{ product.getDiscountedPrice() }} DH</span>
          <span *ngIf="product.isOnSale()" class="old-price">
            {{ product.price }} DH
          </span>
        </div>
          <div class="btn">
            <button class="cta acheter-btn" (click)="toggleFavorite(product)">
              {{ isFavorite(product.id) ? '♥' : '♡' }}
            </button>
<button class="cta detail-btn" [routerLink]="['/product', product.id]" i18n>Voir détails</button>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
</div>

<div class="popup-overlay" *ngIf="selectedProductId">
  <div class="popup-content">
    <app-product-details [productId]="selectedProductId"></app-product-details>
    <button class="close-btn" (click)="selectedProductId = null">✖</button>
  </div>
</div>