<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

<div class="top-bar">
  <div class="left-section">
    <div class="menu">&#8942;</div>  
    <h2 class="store-name">Perfums</h2>
  </div>
  <div class="search-container">
    <input 
      type="text" 
      placeholder="🔍 Rechercher un parfum..." 
      class="search-input" 
      [(ngModel)]="searchTerm" 
      (input)="filterProducts()" 
    />
  </div>
  <div class="right-section">
    <button title="Mon compte">👤</button>
    <button title="Favoris" [routerLink]="['/favoris']">❤</button>
    <button title="Panier">🛒</button>
  </div>
</div>

<h2 class="slogan">La beauté invisible : votre parfum</h2>
<div class="filters">
  <button (click)="applyFilter('homme')" [class.active]="activeFilter === 'homme'" class="button">Homme</button>
  <button (click)="applyFilter('femme')" [class.active]="activeFilter === 'femme'" class="button">Femme</button>
  <button (click)="applyFilter('enfants')" [class.active]="activeFilter === 'enfants'" class="button">Enfants</button>
  <button (click)="applyFilter('all')" [class.active]="activeFilter === 'all'" class="button">Tous</button>
</div>

<div class="catalog">
  <div class="product-list">
    <div class="product-container" *ngFor="let product of filteredProducts; trackBy: trackByProductId">
      <div class="product-card">
        <div class="image-wrapper">
          <img
            [src]="hoveredProductId === product.id ? product.hoverImageUrl || product.imageUrl : product.imageUrl"
            [alt]="product.name"
            class="product-image"
            (mouseenter)="hoveredProductId = product.id"
            (mouseleave)="hoveredProductId = null"
            (error)="handleImageError($event)"
          />
 <div *ngIf="product.isOnSale()" class="offer-badge">
          -{{product.discountPercentage}}%
        </div>
              </div>

        <div class="product-info">
          <h3>{{ product.name }}</h3>
          
         

         <div class="price">
          <span class="new-price">{{ product.getDiscountedPrice() }} DH</span>
          <span *ngIf="product.isOnSale()" class="old-price">
            {{ product.price }} DH
          </span>
        </div>
          <div class="btn">
            <button class="cta acheter-btn" (click)="toggleFavorite(product)">
              {{ isFavorite(product.id) ? '♥' : '♡' }}
            </button>
            <button class="cta detail-btn" (click)="toggleDetails(product.id)">Voir détails</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-overlay" *ngIf="selectedProductId">
  <div class="popup-content">
    <app-product-details [productId]="selectedProductId"></app-product-details>
    <button class="close-btn" (click)="selectedProductId = null">✖</button>
  </div>
</div>