<nav class="parfum-navbar">
  <div class="nav-logo">PARFUMS LUXE</div>
  <div class="nav-menu"></div>
</nav>
<div class="cart-container">
  <h2>Panier</h2>
  <div *ngIf="cartItems.length === 0" class="empty-cart">Votre panier est vide.</div>

  <ul *ngIf="cartItems.length > 0" class="cart-list">
    <li *ngFor="let item of cartItems; index as i" class="cart-item">
      <div class="item-info">
        <strong>{{ item.product.name }}</strong> — Prix: {{ item.product.price }} MAD
      </div>
     <div class="quantity-control">
          <button (click)="updateQuantity(i, item.quantity - 1)">-</button>
          <span>{{ item.quantity }}</span>
          <button 
            (click)="updateQuantity(i, item.quantity + 1)" 
            [disabled]="item.product.quantity === 0">+
          </button>
        </div>
      <button class="remove-btn" (click)="removeItem(i)">Supprimer</button>
    </li>
  </ul>

  <div class="total">
    <strong>Total: {{ total }} MAD</strong>
  </div>

  <button *ngIf="cartItems.length > 0 && !showConfirmForm" class="confirm-btn" (click)="toggleConfirmForm()">
    Confirmer la commande
  </button>

  <div *ngIf="showConfirmForm" class="confirmation-form">
    <h3>Formulaire de confirmation</h3>

    <label>
      Nom:
      <input type="text" [(ngModel)]="userName" placeholder="Votre nom" />
    </label>

    <label>
      Numéro:
      <input type="text" [(ngModel)]="userNumber" placeholder="Votre numéro de téléphone" />
    </label>

    <fieldset class="payment-methods">
      <legend>Méthode de paiement:</legend>

      <label>
        <input type="radio" name="paymentMethod" (change)="selectPaymentMethod('cash')" [checked]="paymentMethod === 'cash'" />
        Paiement à la livraison (Cash)
      </label>

      <label>
        <input type="radio" name="paymentMethod" (change)="selectPaymentMethod('card')" [checked]="paymentMethod === 'card'" />
        Carte bancaire
      </label>
    </fieldset>

    <div *ngIf="paymentMethod === 'card'" class="card-code-container">
      <label>
        Code de la carte:
        <input type="text" [(ngModel)]="cardCode" placeholder="Entrez votre code de carte" />
      </label>
    </div>

    <div class="location-info" *ngIf="latitude !== null && longitude !== null">
      <p>Localisation actuelle :</p>
      <p>Latitude: {{ latitude }}</p>
      <p>Longitude: {{ longitude }}</p>
    </div>

    <div class="location-error" *ngIf="locationError">
      <p>{{ locationError }}</p>
    </div>

    <button class="submit-btn" (click)="confirmerCommande()">Valider la commande</button>
    <button class="cancel-btn" (click)="toggleConfirmForm()">Annuler</button>
  </div>
</div>